main {
    display: flex;
    flex-direction: column;
    margin: 0;
}

main > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    margin: 2% 5%;
}

.img {
    width: auto;
    height: 100px;
}

#entreprise