main {
    display: flex;
    flex-direction: column;
    margin: 0;
}

main > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.img {
    width: 100%;
    height: auto;
}

#imgChip {
    height: 175px;
    width: auto;
}

#imgLogo {
    height: 90px;
    width: auto;
}

#imgTeam {
    height: 165px;
    width: auto;
}

#imgJoinUs{
    height: 180px;
    width: auto;
}

#imgContact{
    height: 175px;
    width: auto;
}

#imgFaq{
    width: auto;
    height: 175px;
}

main > div:nth-child(2n) {
    background: #4eabaf;
}

main > div:nth-child(2n+1){
    background: #6388af;
}

main .divImage {
    width: fit-content;
    height: auto;
    min-height: fit-content;
}

main .divTexte {
    width: 50%;
}

main a {
    text-decoration: none;
    color: black;
}

main a:hover {
    color:#474747;
}