@font-face {
    font-family: PaytoneOne;
    src: url("../fonts/PaytoneOne-Regular.ttf");
}

@font-face {
    font-family: UbuntuB;
    src: url("../fonts/Ubuntu-Bold.ttf");
}

@font-face {
    font-family: RobotoR;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: RobotoB;
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: UbuntuT;
    src: url("../fonts/Ubuntu-Title.ttf");
}

@font-face {
    font-family: Title;
    src: url("../fonts/Bariol_Bold.otf");
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #dedbe6;
    max-height: 10vh;
    min-height: 40px;
    min-width: fit-content;
    height: auto;
}

#Logo {
    width: auto;
    height: 75px;
    padding: 10px 0;
    max-height: 10vh;
    min-height: 40px;
}

#menu, #menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

#menu li {
    display: inline-block;
    position: relative;
    border-radius: 8px 8px 8px 8px;
    background-color: #5bb1ff;
}

#menu ul li {
    display: inherit;
    border-radius: 0;
    background-color: #57a1eb;
}

#menu ul li:hover {
    border-radius: 0;
}

#menu ul li:last-child {
    border-radius: 0 0 8px 8px;
}

#menu ul li:first-child {
    border-radius: 8px 8px 0 0;
}

#menu ul {
    position: absolute;
    z-index: 1000;
    max-height: 0;
    overflow: hidden;
    left: 0;
    right: 0;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
}

#menu li:hover ul {
    max-height: 15em;
}

#menu a {
    text-decoration: none;
    display: block;
    padding: 8px 20px;
    color: #0e1f2b;
}

#menu ul a {
    padding: 8px 0;
}

#menu li:hover {
    background-color: #8ad0ff;
}

header > div {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

header nav {
    flex-grow: 9;
}

header nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

body {
    width: 100%;
    margin: auto;
    font-family: RobotoR;
}

main {
    margin: 0 7vw;
    width: auto;
}

h1, h2 {
    font-family: Title;
}
