main h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form{
    background-color: #8c969b;
    border-radius: 10px;
    border: 4px solid #194b6f;
}

main div {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

main input {
    margin: 10px;
}

main label {
    margin: 10px;
}

main select {
    margin: 10px;
}

main textarea {
    margin: 10px;
}

main fieldset {
    margin: 10px;
}

@media (max-width: 1020px) {
    main {
        width: 95%;
    }

    #msg {
        width: 85%
    }
}