#content a {
    text-decoration: none;
    color: black;
}

#content ul {
    list-style: none;
}

#content .reponse p {
    max-height: 0;
    overflow: hidden;
}

#content .cible:target ~ .reponse p {
    max-height: fit-content;
}

#content li {
    position: relative;
    top: 20px;
}

.cible {
    height: 10px;
    width: 10px;
    position: fixed;
    top: 0;
    z-index: 10000;
    visibility: hidden;
}















