header {
    z-index: 0;
}

h2 {
    margin: 0;
}

#content {
    display: flex;
    flex-direction: column;
    background-image: url("../images/workplace-1245776_1920.jpg");
    background-attachment: fixed;
    background-size: 100%;
}

#content > div:nth-child(2n) {
    align-self: flex-end;
}

#content > div:nth-child(2n+1) {
    align-self: flex-start;
}

main {
    width: 90%;
}

#content > div {
    width: 50%;
    background-color: gray;
    text-align: center;
}