body {
    margin: auto;
    background-color: grey;
}
main {
	display: flex;
	flex-direction: column;
}
main > div {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
#chip {
	width: 200px;
	height: 200px;
}